.clients p {
  margin-top: var(--size-md);
}

.clients .logos {
  width: 100%;
  padding: var(--size-md);
  margin-top: var(--size-2xl);
}

.clients .logos img {
  width: var(--size-4xl);
}

.infinite-scroll {
  height: 4rem;
  overflow-x: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.infinite-scroll img {
  --w: clamp(5rem, 20vw, 12rem);
  position: absolute;
  top: 0;
  left: max(calc(var(--w) * 7), 100%);
  animation: scrollLift 30s linear infinite calc(30s / 7 * (8 - var(--n)) * -1);
}


@keyframes scrollLift {
  to {
    transform: translateX(calc(var(--w) * -8));
  }
}

@media (min-width: 1024px) {
  .clients p {
    margin-top: var(--size-lg);
  }
  .clients .logos {
    padding: var(--size-lg);
    margin-top: var(--size-4xl);
  }
  .clients .logos img {
    width: var(--size-6xl);
  }
}