* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* ===== Reset Font Sizes ===== */

body {
  font-size: var(--size-xs);
}

h1 {
  font-size: var(--size-4xl);
}

h2 {
  font-size: var(--size-3xl);
}

h3 {
  font-size: var(--size-2xl);
}

h4 {
  font-size: var(--size-xl);
}

h5 {
  font-size: var(--size-lg);
}

h6 {
  font-size: var(--size-md);
}

@media (min-width: 1024px) {
  body {
    font-size: var(--size-md);
  }

  h1 {
    font-size: var(--size-5xl);
  }

  h2 {
    font-size: var(--size-4xl);
  }

  h3 {
    font-size: var(--size-3xl);
  }

  h4 {
    font-size: var(--size-2xl);
  }

  h5 {
    font-size: var(--size-xl);
  }

  h6 {
    font-size: var(--size-lg);
  }
}


/* ===== Reset Font Sizes ===== */
