/* ===== Variables and Globals ===== */

:root {
  --font: "GeneralSans";
  
  /* Colors */
  
  --hue: -88;
  --saturation: 80%;
  --lightness: 38.4%;
  
  --clr-main: hsl(var(--hue), var(--saturation), var(--lightness));
  
  --clr-light: hsl(
    var(--hue),
    var(--saturation),
    calc(var(--lightness) + (100% - var(--lightness)) * 0.9)
    );
    --clr-dark: hsl(var(--hue), var(--saturation), calc(var(--lightness) * 0.7));

    --clr-bg: hsl(var(--hue), var(--saturation), 99.5%);
    --clr-text: hsl(var(--hue), var(--saturation), calc(var(--lightness) * 0.4));
    
    --hue2: 99;
    --saturation2: var(--saturation);
    --lightness2: var(--lightness);
    --clr-secondary: hsl(var(--hue2), var(--saturation2), var(--lightness2));
    
    /* Sizes */
    
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-md: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-9xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  }
  
  p {
    color: var(--clr-text);
  }
  
  a {
    color: var(--clr-main);
  }
  
  strong {
    color: var(--clr-secondary);
  }
  
/* ===== Variables and Globals ===== */
  
/* =======  ======= */