/* container Utility Class */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(.6rem + 2vw);
  padding-right: calc(.6rem + 2vw);
}

/* ----------------------------- */

.section {
  padding-top: 3rem;
}

/* ----------------------------- */

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    padding-top: 5rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* ----------------------------- */

.btn {
  font-size: var(--size-xs);
  font-weight: 400;
  letter-spacing: -0.03em;
  padding: 1em 1.8em;
  border-radius: 0.2em;
  transition: color 300ms;
}

.btn.primary {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.btn.secondary {
  color: var(--clr-primary);
  letter-spacing: normal;
}

.btn.primary:hover,
.btn.primary:focus-visible {
  background: var(--clr-shade-1);
}

.btn.secondary:hover,
.btn.secondary:focus-visible {
  background: var(--clr-tint-5);
}

/* lg */
@media (min-width: 1024px) {
  .btn {
    font-size: var(--size-md);
  }
}


.with-icon {
  padding-right: 3.3em;
  position: relative;
}

.with-icon::before {
  content: "\2192";
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-57%);
  right: 1.8em;
  transition: right 200ms;
}

.with-icon.primary::before {
  color: var(--clr-white);
}

.with-icon.secondary::before {
  color: var(--clr-primary);
}

.with-icon:hover::before,
.with-icon:focus-visible::before {
  right: 1.5em;
}

/* ----------------------------- */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-x {
  justify-content: center;
}

.center-y {
  align-items: center;
}


/* ----------------------------- */